.pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.pagination button {
  background-color: transparent;
  color: gray;
  border: none;
}
.pagination .index {
  color: blue;
}
