.screenShots {
  display: flex;
  position: relative;
  height: fit-content;
}
.screenShots img {
  position: relative;
  width: 17vw;
  height: 22vh;

  margin-left: 5px;
  border-radius: 30px;
  z-index: 999;
  transition: all 0.2s linear;
  border: 2px solid rgba(0, 0, 0, 0.8);
}
.screenShots:hover img {
  transform: scale3d(1.1, 1.1, 1.1);
  z-index: 999;
  transition: all 0.2s linear;
}

.this img {
  border: 4px gray solid;
}
